html, body{height:100%;}
.carousel{height:50%;}
.item, .active, .carousel-inner{height:100%;}
.fill{background-position:center; background-size:cover; height:100%; width:100%;}
.section{margin:50px 0;}
footer{margin:50px 0;}